@font-face {
    font-family: 'louis_george_caferegular';
    src: url('fonts/louis_george_cafe-webfont.woff2') format('woff2'),
         url('fonts/louis_george_cafe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'louis_george_caferegular';
	background: rgb(5,27,75);
	background: linear-gradient(90deg, rgba(5,27,75,1) 0%, rgba(7,59,139,1) 35%, rgba(53,118,183,1) 100%); 
	display: table;
 	width: 100%;
	font-weight: 800;
	font-size: 1.5em;
	color: white;
}
html, body {
  margin: 0;
  height: 100%;
}

body > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div{
	display: flex;
	flex-direction: column;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
footer > span {
	font-size: 10pt;
}
footer > span > a{
	font-size: 10pt;
	color: white;
	text-decoration: none;
}